{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ $data := index .Site.Data "projects" }}

<div class="cards-container">
  {{ range $data.projects }}
    <article class="post-entry tag-entry">
      <header class="entry-header">
        <h2 class="entry-hint-parent">{{- .title }}</h2>
      </header>
      <div class="entry-content">
        <p>
          {{ .description | plainify | htmlUnescape }}{{ if .Truncated }}...{{
          end }}
        </p>
      </div>
      <div class="chip-container">
        <p>{{- range $i, $e := .tags }}<p class="chip">{{ $e }}</p>{{ end }}</p>
      </div>
      <a
        class="entry-link"
        aria-label="post link to {{ .title | plainify }}"
        href="{{ .link }}"
      ></a>
    </article>
  {{ end }}
</div>

{{ end }}
