{{ define "main" }}
<h1 class="project-title">{{ .Title }}</h1>

{{ $data := index .Site.Data "projects" }}

<div class="project-grid">
  {{ range $data.projects }}
  <a 
    href="{{ .link }}"
    target="_blank"
    class="project-card"
    title="Open in new tab"
  >
    <article class="">
      <header class="project-header">
        <h2 class="project-name">{{- .title }}</h2>
      </header>
      <div class="project-description">
        <p>
          {{ .description | plainify | htmlUnescape }}{{ if .Truncated }}...{{
          end }}
        </p>
      </div>
      <div class="project-tags">
        {{ range .tags }}
        <span class="project-tag">{{ . }}</span>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </a>
</div>
{{ end }}
